<h2 class="text-center">Registrijaj Se</h2>

<div class="row" style="margin-top: 60px;">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :nickname, "Ime / Vzdevek" %><br />
        <%= f.text_field :nickname, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Geslo" %>
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Potrdi Geslo" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="text-center">
        <div class="actions">
          <%= f.submit "Registriraj se", class:"btn btn-default" %>
        </div>
      <% end %>
          Že imaš račun, Prijavi se<%= link_to "Tukaj!", "#",remote: true, data: { toggle: 'modal', target: '#myModal'} %><br />
          Si pozabil geslo? Zahtevaj <%= link_to "Novo!", new_password_path(resource_name) %>
      </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
