<h1 class="text-center">Članki<small></small> </h1>
<br />

<p class="text-center">
  <% if user_signed_in? && current_user.is_admin? %>
    <%= link_to '+ Dodaj nov članek', new_article_path, class:"text-center" %>
  <% end %>
</p>
<br />


  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <ul class="list-group inline-list">
        <li class="list-group-item">
          <h4><%= link_to "#{article.title}", article, style:"color: black; font-family: 'Michroma', sans-serif;" %></h4>
          <hr>
          <p>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <%= article.comments.count %> - <%= my_comment_helper(article) %>
            <i class="fa fa-clock-o fa-lg" aria-hidden="true" style="padding-left: 10px;"></i>
            <%= article.created_at.to_formatted_s(:short) %>
          </p>
          <hr>
          <p>
            <%= truncate(article.body, length: 300) { link_to "Preberi več", article, style:"color: black; font-weight: bold;" } %>
          </p>
            <% if user_signed_in? && current_user.is_admin? %>
            <br />
            <ol class="breadcrumb">
              <li><%= link_to 'Uredi', edit_article_path(article), class:"text-right" %></li>
              <li><%= link_to 'Izbriši', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-right" %></li>
            </ol>
            <% end %>
          </li>
        </ul>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <% end %>



  <br>
