

<div class="panel panel-info" style="margin-top: 50px;">
  <div class="panel-heading text-center">
    <h3><%= @article.title %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= @article.body %>
    </p>
  </div>
</div>



  <% if current_user && current_user.is_admin? %>
    <%= link_to 'Uredi Članek', edit_article_path(@article) %> |
  <% end %>
  <%= link_to 'Nazaj', articles_path %>

<hr>
<h4>Komentarji:</h4>
<br />
<div class="panel panel-inverse">
  <div class="panel-heading panel-customize-header">
    Št. komentarjev: <%= @article.comments.count %>
  </div>
  <div class="panel-body">
    <% if current_user %>
    <%= render 'comments_form' %>
    <% else %>
      <p>
        Za komentiranje se prosim <%= link_to "prijavi", "#",remote: true, data: { toggle: 'modal', target: '#myModal'} %>
        ali <%= link_to "registriraj", new_registration_path(resource_name) %> !
      </p>
    <% end %>
  </div>
</div>


<% @article.comments.each do |comment| %>
<hr>
    <strong><%= comment.user.email %></strong> | <em><%= comment.created_at.to_formatted_s(:short) %></em>
  <p style="padding-top: 10px;">
    <%= comment.content %>
  </p>
<% end %>
