
<div class="jumbotron jumbotron-header">
  <h1 class="blog-title">Prvi pravi blog o sportu</h1>
</div>
<div class="middle-menu">
  <ul class="list-inline text-center middle-menu-content">
    <li><%= link_to "Domov", root_path %></li>
    <li><%= link_to "Članki", articles_path %></li>
    <li><%= link_to "Contact", "#" %></li>
    <li>
      <% if admin_signed_in? %>
        <%= current_admin.email %>
        <%= link_to "Odjavi se", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "Prijavi se", new_admin_session_path %>
      <% end %>
    </li>
  </ul>
</div>
<div class="jumbotron jumbotron-header1">
  <h1 class="blog-title">Beri zanimivosti!</h1>
</div>
