<% content_for :head do %>
    <meta property="og:url"           content="<%= article_url(@article) %>" />
    <meta property="og:type"          content="@article" />
    <meta property="og:title"         content="<%= @article.title %>" />
    <meta property="og:image"         content="<%= @article.image.url %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sportniBlog" />
    <meta name="twitter:title" content="<%= @article.title %>" />
    <meta name="twitter:image" content="<%= @article.image.url %>" />
<% end %>

<body style="margin:0; padding:0; height:100%;">

  <div style="margin: auto; width: 60%; min-height: 100%; position: relative;">
    <div style="padding: 10px;">
      <div style="text-align: center;">
        <%= email_image_tag("logo11.png", style:"max-height: 150px;") %>
      </div>
    </div>

    <div style="padding: 10px; padding-bottom: 180px;">
      <h2 style="text-align: center;"><%= @article.title %></h2>
      <div style="text-align: center;">
        <%= image_tag @article.image.url(:medium) %>
      </div>
      <p style="text-align: justify;">
        <%= truncate(@article.body.html_safe, length: 300, escape: false) { link_to "Preberi več", @article, style:"color: black; font-weight: bold;" } %>
      </p>

    </div>

    <div style="position: absolute; bottom: 0; width: 100%; height: 140px; background: black; color: white;">
      <div style="text-align: center; padding: 10px;">
          <small>
            Email ste prejeli ker ste naročeni na najnovejše novice iz športnega bloga
            V kolikor ne želite prejemati več novic nas kontaktirajte.
          </small>
          <br />
          <br />
          @ SportniBlog | 2016 <br />
          <a style="color: white;" href="mailto:dejan.sportniblog@gmail.com">dejan.sportniblog@gmail.com</a>
          <br />
          <br />
          <%= link_to email_image_tag("fb-white-icon.png", style:"max-height: 20px;"), "https://www.facebook.com/sharer/sharer.php?sdk=joey&u=#{article_url(@article)}&display=popup&ref=plugin&src=share_button" %>
          <span style="margin-right: 5px; margin-left: 5px;"></span>
          <%= link_to email_image_tag("twitter-white-icon.png", style:"max-height: 20px;"), "https://twitter.com/intent/tweet?url=#{article_url(@article)}&text=#{@article.title}..." %>
      </div>
    </div>
  </div>


</body>
