<!DOCTYPE html>
<html>
<head>
  <title>Sportni Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon33.ico' %>
  <meta name="google-site-verification" content="F39uRxODyDaitf9gCB2tTLio8vryMLnk-gddq7HVlNI" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= content_for?(:head) ? yield(:head) : '' %>
  <script src="https://fomo-stg.herokuapp.com/api/v1/eUlPYWH8-peClGKvevKIxA/load.js"></script>
</head>
<body class="eupopup eupopup-fixedtop">

<%= render '/layouts/messages' %>

  <div class="menu navbar navbar-inverse" style="margin: 0; border-radius: 0;">
    <div class="container-fluid my-custom-container">
      <!-- <div class="navbar-header">
        <%#= image_tag "logo.png", style:"height: 60px;" %>
      </div> -->
       <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
       </button>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
      <ul class="navbar-custom nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'welcome' %>"><%= link_to "DOMOV", root_path, class:"menu-title" %></li>
        <li class="<%= 'active' if params[:controller] == 'articles' %>"><%= link_to "ČLANKI", articles_path, class:"menu-title" %></li>
        <li class="<%= 'active' if params[:controller] == 'contact_us' %>"><%= link_to "KONTAKT", contact_us_path, class:"menu-title" %></li>
      </ul>
      <ul class="navbar-custom nav navbar-nav navbar-right">
        <li>
          <div class="col-md-12 col-ms-12">
            <%= form_tag articles_path, method: :get, class:"navbar-form" do %>
              <div class="input-group">
                  <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Išči" %>
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", name: nil, class:"btn btn-default") do %>
                    <i class="fa fa-search fa-lg" style="font-size: 26px;"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </li>
        <% if user_signed_in? %>
          <li role="presentation" class="dropdown">
            <%= link_to "#", class:"dropdown-toggle menu-title",data: { toggle: 'dropdown'}, aria: { haspopup: 'true', expanded:'false'}, role:"button" do %>
              <%= current_user.nickname.present? ? current_user.nickname : current_user.email %> <i class="fa fa-caret-down fa-lg"></i>
            <% end %>
            <ul class="dropdown-menu top-dropdown-ul dropdown-menu-right">
              <li><%= link_to "Uredi si profil", edit_user_registration_path %></li>
              <li>
                <%= link_to "Odjavi se", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="item">
              <%= link_to "PRIJAVI SE", "#",remote: true, class:"menu-title", data: { toggle: 'modal', target: '#myModal'} %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>






<!-- Modal -->
<%= render '/layouts/sign_in_modal' %>



<%= yield %>



<footer class="header"></footer>
<footer class="body">
  <div class="container">
    <div class="text-center">
      <%= image_tag "logo11.png", style:"height: 50px;" %>
      <hr style="margin: 0">
        <p style="padding: 15px 0 5px 0">
          ©ŠportniBlog - 2016. Vse pravice pridržane. Developed by Iztok M.
        </p>
    </div>
  </div>

</footer>



</body>
</html>
