<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon33.ico' %>
</head>
<body>
  <div class="container">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag "logo.png", style:"height: 60px;" %>
    </div>
    <ul class="navbar-custom nav navbar-nav">
      <li class="<%= 'active' if params[:controller] == 'welcome' %>"><%= link_to "DOMOV", root_path %></li>
      <li class="<%= 'active' if params[:controller] == 'articles' %>"><%= link_to "ČLANKI", articles_path %></li>
      <li class="item"><%= link_to "CONTACT", "#" %></li>
    </ul>
    <ul class="navbar-custom nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.email, "#" %>
        </li>
        <li>
          <%= link_to "ODJAVI SE", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="item">
            <%= link_to "PRIJAVI SE", "#",remote: true, data: { toggle: 'modal', target: '#myModal'} %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<%= render '/layouts/messages' %>



<!-- Modal -->
<%= render '/layouts/sign_in_modal' %>


<%= yield %>
</div>


<footer class="header"></footer>
<footer class="body">
  <div class="container">
    <ul class="list-inline text-center">
      <li class="text-muted"><%= image_tag "logo2.png", style:"height: 50px;" %></li>
      <li class="text-muted pull-right" style="padding-top: 20px;">© Športni Blog, 2016</li>
    </ul>
  </div>
</footer>

</body>
</html>
